<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Informacje o użytkowniku - Kuchnia Bartka</title>
</head>
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <h2 class="list-heading" th:text="|Informacje o użytkowniku ${user.nickName}|">Informacje o użytkowniku</h2>
        <div class="kb-form">
            <label for="email">Adres email</label>
            <input id="email" type="email" th:value="${user.email}" readonly>
            <label for="firstName">Imię</label>
            <input id="firstName" name="firstName" th:value="${user.firstName}" readonly>
            <label for="lastName">Nazwisko</label>
            <input id="lastName" name="lastName" th:value="${user.lastName}" readonly>
            <label for="nickName">Nick</label>
            <input id="nickName" name="nickName" th:value="${user.nickName}" readonly>
            <label for="age">Wiek</label>
            <input id="age" name="age" th:value="${user.age}" readonly>
            <label for="commentCount">Liczba dodanych komentarzy</label>
            <input id="commentCount" th:value="${commentCount}" readonly>
            <a href="#" th:href="@{|/admin/uzytkownik/${user.id}/komentarze/1|}" class="admin-kb-form-button"> Podgląd komentarzy</a>
            <label for="favouriteRecipesCount">Liczba polubionych przepisów</label>
            <input id="favouriteRecipesCount" th:value="${favouriteRecipesCount}" readonly>
            <a href="#" th:href="@{|/admin/uzytkownik/${user.id}/ulubione/1|}" class="admin-kb-form-button"> Podgląd polubionych przepisów</a>



        </div>
    </main>
</div>
</body>
</html>
