<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Panel administracyjny - Kuchnia Bartka</title>
</head>
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <p class="notification-bar" th:if="${adminNotification}" th:text="${adminNotification}">
            Belka z powiadomieniami
        </p>
        <h2 class="list-heading">Panel administracyjny</h2>
        <ul class="list-admin-features">
            <li class="list-admin-features-item"><a href="#" th:href="@{/admin/dodaj-przepis}">Dodaj przepis</a></li>
            <li class="list-admin-features-item"><a href="#" th:href="@{/admin/lista-przepisow/1}">Lista przepisów - usuń / edytuj przepis</a></li>
            <li class="list-admin-features-item"><a href="#" th:href="@{/admin/dodaj-typ}">Dodaj typ posiłku</a></li>
            <li class="list-admin-features-item"><a href="#" th:href="@{/admin/lista-typow/1}">Lista typów posiłków - usuń / edytuj typ</a></li>
            <li class="list-admin-features-item"><a href="#" th:href="@{/admin/lista-komentarzy/1}">Lista komentarzy</a></li>
            <li class="list-admin-features-item"><a href="#" th:href="@{/admin/list-uzytkownikow/1}">Lista użytkowników</a></li>
        </ul>
    </main>
</div>
</body>
</html>