<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Panel administracyjny - Kuchnia Bartka</title>
</head>
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <h2 class="list-admin-heading">Panel administracyjny</h2>
        <ul class="list-admin-features">
            <li class="list-admin-features-item"><a href="#" th:href="@{/admin/dodaj-film}">Dodaj film</a></li>
            <li class="list-admin-features-item"><a href="#" th:href="@{/admin/dodaj-typ}">Dodaj typ posiłku</a></li>
        </ul>
    </main>
</div>
</body>
</html>