<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Kuchnia Bartka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/998953df9f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
    <script defer src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="header">
        <ul class="menu-top">
            <li class="menu-toggle-container">
                <a href="#">
                    <i id="toggle-icon" class="fa-solid fa-bars"></i>
                </a>
            </li>
            <li class="menu-logo-container">
                <a href="#" th:href="@{/}">
                    <i id="logo-icon" class="fa-solid fa-utensils"></i> Kuchnia Bartosza
                </a>
            </li>
            <li class="menu-search-form">
                <p class="menu-search-form-desc">Okno szukania <i id="search-icon" class="fa-solid fa-magnifying-glass"></i></p>
            </li>
            <li class="user-toggle-container">
                <a href="#">
                    <i id="toggle-user-icon" class="fa-regular fa-user fa-lg"></i>
                </a>
            </li>
            <li class="menu-utility-item">
                <a href="#">Ulubione przepisy</a>
            </li>
            <li class="menu-utility-item">
                <a href="#" sec:authorize="${hasRole('USER')}">Panel użytkownika</a>
            </li>
            <li class="menu-utility-item">
            <a href="#" th:href="@{/admin}" sec:authorize="${hasAnyRole('ADMIN', 'EDITOR')}">Administracja</a>
            </li>
            <li class="menu-utility-item">
                <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">Zaloguj się</a>
                <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()">Wyloguj się</a>
            </li>
        </ul>
        <ul class="menu-nav-list" th:remove="all-but-first">
            <li class="menu-nav-item" th:each="type: ${types}">
                <a href="#" th:href="@{|/typ/${type.name}/strona/1|}" th:text="${type.name}">BURGERY</a>
            </li>
            <li class="menu-nav-item">
                <a href="#">SŁODKOŚCI</a>
            </li>
            <li class="menu-nav-item">
                <a href="#">OBIADY</a>
            </li>
            <li class="menu-nav-item">
                <a href="#">ZYPY</a>
            </li>
            <li class="menu-nav-item">
                <a href="#">ŚNIADANIA</a>
            </li>
            <li class="menu-nav-item">
                <a href="#">SAŁATKI</a>
            </li>
            <li class="menu-nav-item">
                <a href="#">NAPOJE</a>
            </li>
            <li class="menu-nav-item">
                <a href="#">PRZEKĄSKI</a>
            </li>
        </ul>
    </div>
    <header class="jumbotron">
        <h1 class="jumbotron-header">Kuchnia Bartosza</h1>
        <p class="jumbotron-description">Tylko najlepsze przepisy</p>
    </header>
    <main class="main-content" layout:fragment="content">
    </main>
    <footer class="footer">
        <p>KuchniaBartosza 2024 <i class="fas fa-copyright"></i> BartoszK </p>
    </footer>
</div>
</body>
</html>