<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Zaloguj się - Kuchnia Bartka</title>
</head>
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <h2 class="list-heading">Zaloguj się </h2>
        <form action="#" th:action="@{/login}" method="post" class="kb-form">
            <p th:if="${param.error}"
               th:text="#{BadCredentialsException}"
               class="kb-form-message">
                Błąd logowania.
            </p>
            <label for="username">Adres email</label>
            <input id="username" name="username" placeholder="nazwa użytkownika">
            <label for="password">Hasło</label>
            <input id="password" name="password" type="password" placeholder="hasło">
            <button type="submit">Zaloguj się</button>
        </form>
    </main>
</div>
</body>
</html>
