<!DOCTYPE html>
<html lang="pl"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kuchnia Bartka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/998953df9f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
    <script defer src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="header">
        <ul class="menu-top">
            <li class="menu-toggle">
                <a href="#">
                    <i id="toggle-icon" class="fa-solid fa-bars"></i>
                </a>
            </li>
            <li class="menu-logo-container">
                <a href="#" th:href="@{/}">
                    <i id="logo-icon" class="fa-solid fa-utensils"></i> Kuchnia Bartosza
                </a>
            </li>
            <li class="menu-search-form">
                <p class="menu-search-form-desc">Okno szukania <i id="search-icon" class="fa-solid fa-magnifying-glass"></i></p>
            </li>
            <li class="menu-utility-item">
                <a href="#">Moje konto</a>
            </li>
            <li class="menu-utility-item">
                <a href="#">Zaloguj się</a>
            </li>
        </ul>
        <ul class="menu-nav-list">
            <li class="menu-nav-item">
                <a href="#">POPULARNE</a>
            </li>
            <li class="menu-nav-item">
                <a href="#">SŁODKOŚCI</a>
            </li>
            <li class="menu-nav-item">
                <a href="#">OBIADY</a>
            </li>
            <li class="menu-nav-item">
                <a href="#">ZYPY</a>
            </li>
            <li class="menu-nav-item">
                <a href="#">ŚNIADANIA</a>
            </li>
            <li class="menu-nav-item">
                <a href="#">SAŁATKI</a>
            </li>
            <li class="menu-nav-item">
                <a href="#">NAPOJE</a>
            </li>
            <li class="menu-nav-item">
                <a href="#">PRZEKĄSKI</a>
            </li>
        </ul>
    </div>
    <header class="jumbotron">
        <h1 class="jumbotron-header">Kuchnia Bartosza</h1>
        <p class="jumbotron-description">Tylko najlepsze przepisy</p>
    </header>
    <main class="main-content">
        <section class="recipe">
            <h2 class="recipe-title">Burger z frytkami</h2>
            <div class="recipe-base-statistics-container">
                <div class="recipe-rating-container">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <span class="recipe-rating-value">4.50</span>
                    <span class="recipe-rating-votes-number">(55)</span>
                </div>
                <div class="recipe-container-comments-number">
                    <i class="fa-regular fa-comment"></i> 15
                </div>
                <div class="recipe-container-favourites-number">
                    <i class="fa-regular fa-heart"></i> 18
                </div>
            </div>
            <div class="recipe-photo">
                <a href="#" >
                    <img class="recipe-list-item-photo"
                         src="../static/img/photo-dish.jpg"
                         alt="Nazwa dania">
                </a>
            </div>
            <div class="recipe-base-description-container">
                <p class="recipe-base-description">Burger drwala to jesienno-zimowy przebój największej sieci fast foodów w Polsce.
                    Sama z ciekawości spróbowałam w zeszłym roku i stwierdziłam, że można to zrobić lepiej ;).
                    Wypróbujcie mojej wersji z soczystą wołowiną, panierowanym serem, boczkiem i warzywami. To świetna kompozycja smaków i tekstur.
                    Bardzo konkretna propozycja na obiad w zimny dzień.
                </p>
            </div>
            <div class="recipe-base-details-container">
                <p class="recipe-base-details-item">Czas przygotowania: 20 minut</p>
                <p class="recipe-base-details-item">Czas obróbki termicznej: 20 minut </p>
                <p class="recipe-base-details-item">Liczba porcji: 4 </p>
                <p class="recipe-base-details-item">Poziom truności: łatwe</p>
            </div>
            <h3 class="header-ingredients">Składniki</h3>
            <ul class="recipe-ingredients-list">
                <li class="recipe-ingredients-item">Wołowina mielona - 200 gram</li>
                <li class="recipe-ingredients-item">Ser cheddar w plastrach - 2 szt</li>
                <li class="recipe-ingredients-item">Boczek wędzony w plastrach - 2 szt</li>
                <li class="recipe-ingredients-item">Sól</li>
                <li class="recipe-ingredients-item">Pieprz</li>
            </ul>
            <h3 class="header-directions">Przygotowanie</h3>
            <ul class="recipe-directions-list">
                <li class="recipe-idirections-item">Wołowinę razem z łojem zmielić na grubych oczkach maszyny do mielenia mięsa.</li>
                <li class="recipe-idirections-item">Mięso razem z Ppzyprawami wyrób ręką i uformuj okrągłe hamburgery o masie około 120 g. Hamburgery powinny mieć średnicę co najmniej 10 cm i być grube na około 2 cm.</li>
                <li class="recipe-idirections-item">Burgery z naszego przepisu wrzuć bezpośrednio na dobrze rozgrzany ruszt grillowy. Grilluj około 15 minut, w zależności od stopnia wysmażenia.</li>
                <li class="recipe-idirections-item">Po 15 minutach hamburger powinien być już dobrze wysmażony. W końcowej fazie grillowania na hamburgera połóż plaster sera, aby nieco się roztopił. Równocześnie razem z mięsem grilluj plastry boczku, najlepiej na aluminiowej tacce. Boczek grilluj, aż będzie chrupiący.</li>
                <li class="recipe-idirections-item">W międzyczasie przygotuj bułki: przekrój je na pół, opiecz na grillu i posmaruj z obu stron sosem Hellmann's. Na górną część bułki ułóż liść sałaty lodowej, plaster cebuli i gruby plaster pomidora.</li>
                <li class="recipe-idirections-item">Na dolną część bułki połóż zgrillowanego burgera z przepisu z serem i przykryj go dwoma plastrami chrupiącego boczku. Kanapkę przykryj górną częścią bułki z sałatą, cebulą i pomidorem. Żeby kanapka się nie rozpadła, przekłuj ją wykałaczką z korniszonem i oliwką.</li>
            </ul>
        </section>
    </main>
    <footer class="footer">
        <p>KuchniaBartosza 2024 <i class="fas fa-copyright"></i> BartoszK </p>
    </footer>
</div>
</body>
</html>