<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <h2 class="list-heading" th:text="${heading}">Nazwa grupy przepisów</h2>
        <div class="sorting-container">
            Sortuj:
            <span class="sort-by-date">
                <a href="#" th:href="@{|${baseUrl}/${currentPage}?poleSortowania=dataPublikacji${searchText != null ? '&searchText=' + searchText : ''}|}">
                    Data publikacji
                </a>
            </span>
            <span class="sort-by-popularity">
                 <a href="#" th:href="@{|${baseUrl}/${currentPage}?poleSortowania=nazwa${searchText != null ? '&searchText=' + searchText : ''}|}">
                    Nazwa
                </a>
            </span>
        </div>
        <ul class="recipe-list" th:remove="all-but-first">
            <li class="recipe-list-item" th:each="recipe: ${recipes}">
                <a href="#" th:href="@{|/przepis/${recipe.id}|}">
                    <div class="recipe-list-name-container">
                        <h3 class="recipe-list-item-name" th:text="${recipe.name}">Burger i frytkami</h3>
                        <a href="#" th:href="@{|/przepis/${recipe.id}|}">
                            <img class="recipe-list-item-photo"
                                 src="../static/img/photo-dish.jpg"
                                 th:src="${recipe.image != null} ? @{/img/${recipe.image}} : @{/img/photo-dish.jpg}"
                                 alt="Nazwa dania">
                        </a>
                        <div class="recipe-list-item-footer">
                            <a href="#" class="recipe-list-item-footer-comment">
                                <i class="fa-regular fa-comment"></i>
                                <span th:if="${recipe.commentCount}" th:text="${recipe.commentCount}">17</span>
                                <span th:if="!${recipe.commentCount}">0</span>
                            </a>
                            <a href="#" class="recipe-list-item-footer-rating">
                                <i class="fa-regular fa-star"></i>
                                <span th:if="${recipe.ratingCount}" th:text="|${#numbers.formatDecimal(recipe.averageRating, 1, 1)} (${recipe.ratingCount})|">4.8 (4)</span>
                                <span th:if="!${recipe.ratingCount}" >0.0 (-)</span>
                            </a>
                        </div>
                    </div>
                </a>
            </li>
        </ul>

        <div th:if="${totalPages > 1}" class="pagination-container">
            <div th:if="${currentPage > 1}" class="pagination">
                <a href="#" th:href="@{|${baseUrl}/${currentPage - 1}?poleSortowania=${sortField}${searchText != null ? '&searchText=' + searchText : ''}|}">&#171;</a>
            </div>
            <div class="pagination">
                <span th:if="${currentPage > 3}">
                     <a href="#" th:href="@{|${baseUrl}/1?poleSortowania=${sortField}${searchText != null ? '&searchText=' + searchText : ''}|}">1</a>
                    <span>...</span>
                </span>
                <span th:each="pageNum : ${#numbers.sequence(currentPage - 2 > 0 ? currentPage - 2 : 1, currentPage + 2 <= totalPages ? currentPage + 2 : totalPages)}">
                    <a href="#" th:text="${pageNum}" th:href="@{|${baseUrl}/${pageNum}?poleSortowania=${sortField}${searchText != null ? '&searchText=' + searchText : ''}|}"
                       th:classappend="${pageNum == currentPage} ? 'active' : ''"></a>
                </span>
                <span th:if="${currentPage < totalPages - 2}">
                    <span>...</span>
                     <a href="#" th:href="@{|${baseUrl}/${totalPages}?poleSortowania=${sortField}${searchText != null ? '&searchText=' + searchText : ''}|}">[[${totalPages}]]</a>
                </span>
            </div>
            <div th:if="${currentPage < totalPages}" class="pagination">
                <a href="#" th:href="@{|${baseUrl}/${currentPage + 1}?poleSortowania=${sortField}${searchText != null ? '&searchText=' + searchText : ''}|}">&#187;</a>
            </div>
        </div>

    </main>
</div>
</body>
</html>
