<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:title="|${recipe.name} - Kuchnia Bartka|">Przepis - Kuchnia Bartka</title>
</head>
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <section class="recipe">
            <h2 class="recipe-title" th:text="${recipe.name}">Burger z frytkami</h2>
            <div class="recipe-base-statistics-container">
                <div class="recipe-rating-container">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <span class="recipe-rating-value">4.00</span>
                    <span class="recipe-rating-votes-number">(55)</span>
                </div>
                <div class="recipe-container-comments-number">
                    <i class="fa-regular fa-comment"></i> 15
                </div>
                <div class="recipe-container-favourites-number">
                    <i class="fa-regular fa-heart"></i> 18
                </div>
            </div>
            <div class="recipe-base-description-container">
                <p class="recipe-base-description" th:text="${recipe.description}">Burger drwala to jesienno-zimowy przebój największej sieci fast foodów w Polsce.
                    Sama z ciekawości spróbowałam w zeszłym roku i stwierdziłam, że można to zrobić lepiej ;).
                    Wypróbujcie mojej wersji z soczystą wołowiną, panierowanym serem, boczkiem i warzywami. To świetna kompozycja smaków i tekstur.
                    Bardzo konkretna propozycja na obiad w zimny dzień.
                </p>
            </div>
            <div class="recipe-photo">
                <a href="#" >
                    <img class="recipe-main-photo"
                         src="../static/img/photo-dish.jpg"
                         th:src="@{/img/photo-dish.jpg}"
                         alt="Nazwa dania"
                         th:alt="${recipe.name}">
                </a>
            </div>
            <div class="recipe-base-details-container">
                <p class="recipe-base-details-item-bold">Czas przygotowania: <span class="recipe-base-details-item" th:text="${recipe.preparationTime}">20 minut</span> </p>
                <p class="recipe-base-details-item-bold">Czas obróbki termicznej: <span class="recipe-base-details-item" th:text="${recipe.cookingTime}">15 minut</span> </p>
                <p class="recipe-base-details-item-bold">Liczba porcji: <span class="recipe-base-details-item" th:text="${recipe.serving}">4</span> </p>
                <p class="recipe-base-details-item-bold">Poziom truności: <span class="recipe-base-details-item" th:text="${recipe.difficultyLevel}">łatwe</span> </p>
            </div>
            <h3 class="header-ingredients">Składniki</h3>
            <div class="recipe-ingredients-list-container">
                <ul class="recipe-ingredients-list">
                    <li class="recipe-ingredients-item">Wołowina mielona - 200 gram</li>
                    <li class="recipe-ingredients-item">Ser cheddar w plastrach - 2 szt</li>
                    <li class="recipe-ingredients-item">Boczek wędzony w plastrach - 2 szt</li>
                    <li class="recipe-ingredients-item">Sól</li>
                    <li class="recipe-ingredients-item">Pieprz</li>
                </ul>
            </div>
            <h3 class="header-directions">Przygotowanie</h3>
            <ul class="recipe-directions-list" th:remove="all-but-first">
                <li class="recipe-directions-item" th:each="step: ${recipe.getDirectionsSteps()}" th:text="${step}">Wołowinę razem z łojem zmielić na grubych oczkach maszyny do mielenia mięsa.</li>
                <li class="recipe-directions-item">Wołowinę razem z łojem zmielić na grubych oczkach maszyny do mielenia mięsa.</li>
                <li class="recipe-directions-item">Mięso razem z Ppzyprawami wyrób ręką i uformuj okrągłe hamburgery o masie około 120 g. Hamburgery powinny mieć średnicę co najmniej 10 cm i być grube na około 2 cm.</li>
                <li class="recipe-directions-item">Burgery z naszego przepisu wrzuć bezpośrednio na dobrze rozgrzany ruszt grillowy. Grilluj około 15 minut, w zależności od stopnia wysmażenia.</li>
                <li class="recipe-directions-item">Po 15 minutach hamburger powinien być już dobrze wysmażony. W końcowej fazie grillowania na hamburgera połóż plaster sera, aby nieco się roztopił. Równocześnie razem z mięsem grilluj plastry boczku, najlepiej na aluminiowej tacce. Boczek grilluj, aż będzie chrupiący.</li>
                <li class="recipe-directions-item">W międzyczasie przygotuj bułki: przekrój je na pół, opiecz na grillu i posmaruj z obu stron sosem Hellmann's. Na górną część bułki ułóż liść sałaty lodowej, plaster cebuli i gruby plaster pomidora.</li>
                <li class="recipe-directions-item">Na dolną część bułki połóż zgrillowanego burgera z przepisu z serem i przykryj go dwoma plastrami chrupiącego boczku. Kanapkę przykryj górną częścią bułki z sałatą, cebulą i pomidorem. Żeby kanapka się nie rozpadła, przekłuj ją wykałaczką z korniszonem i oliwką.</li>
            </ul>
        </section>
    </main>
</div>
</body>
</html>