<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Zresetuj hasło</title>
</head>
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <p class="notification-bar" th:if="${userNotification}" th:text="${userNotification}">
            Belka z powiadomieniami</p>
        <h2 class="list-heading">Zresetuj hasło</h2>
        <form action="#" th:action="@{/odzyskiwanie-hasla}" method="post" class="kb-form">
            <label for="email">Adres email</label>
            <input id="email" name="email" placeholder="nazwa użytkownika">
            <button type="submit">Resetuj hasło</button>
        </form>
    </main>
</div>
</body>
</html>
