<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Zresetuj hasło</title>
</head>
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <p class="notification-bar" th:if="${userNotification}" th:text="${userNotification}">
            Belka z powiadomieniami</p>
        <h2 class="list-heading">Zresetuj hasło </h2>
        <form action="#" th:action="@{/reset-hasla}" method="post" class="kb-form" th:object="${user}">

            <input type="hidden" th:field="*{id}" >
            <input type="hidden" th:field="*{email}">
            <label for="password">Hasło</label>
            <input id="password" name="password" type="password" placeholder="hasło" th:field="*{password}">
            <label for="confirmPassword">Hasło</label>
            <input id="confirmPassword" name="confirmPassword" type="password" placeholder="powtórz hasło">
            <p th:errors="*{password}" class="error-validation">Błędy dotyczące hasła</p>
            <p th:errors="*{id}" class="error-validation">Błędy dotyczące id</p>
            <p th:errors="*{email}" class="error-validation">Błędy dotyczące maila</p>
            <button type="submit">Zapisz hasło</button>
        </form>
    </main>
</div>
</body>
</html>
