<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Aktualizacja komentarza użytkownika - Kuchnia Bartka</title>
</head>
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <h2 class="list-heading">Zaktualizuj komentarz </h2>
        <form action="#" th:action="@{/uzytkownik/komentarze/edytuj}" method="post" class="kb-form" th:object="${comment}">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{creationDate}">
            <input type="hidden" th:field="*{userEmail}">
            <input type="hidden" th:field="*{approved}">
            <label for="text">Treść koemntarza</label>
            <input id="text" name="text" placeholder="Twój komentarz" th:field="*{text}">
            <button type="submit">Zaktualizuj</button>
        </form>
    </main>
</div>
</body>
</html>
