<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Aktualizacja danych użytkownika - Kuchnia Bartka</title>
</head>
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <h2 class="list-heading">Zaktualizuj dane </h2>
        <form action="#" th:action="@{/rejestracja}" method="post" class="kb-form" th:object="${user}">
            <input type="hidden" th:field="*{id}">
            <label for="email">Adres email</label>
            <input id="email" name="email" placeholder="nazwa użytkownika" th:field="*{email}">
            <label for="password">Hasło</label>
            <input id="password" name="password" type="password" placeholder="hasło" th:field="*{password}">
            <button type="submit">Zaktualizuj</button>
        </form>
    </main>
</div>
</body>
</html>
