* {
    margin: 0;
    padding: 0;
    color: black;
}

body {
    font-family: "Source Sans 3", sans-serif;
}


.menu-nav-item > a {
    color: black;
    font-size: 16px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #006400;
    font-weight: 500;
}



.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

.footer {
    padding:8px;
    text-align: center;
}

#logo-icon,
#toggle-icon {
    color: #006400;
}



.menu-top {
    display: flex;
    justify-content: space-between;
    color: #006400;
}

.menu-nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.menu-nav-item {
    width: 100%;
    padding: 18px;
    border-bottom: 2px #006400 solid;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    display: none;
}

.expanded > .menu-nav-item {
    display: block;
}

.menu-logo-container,
.menu-toggle {
    display: block;
    padding: 16px 32px;
    font-size: 20px;
}

.menu-search-form{
    display: block;
    padding: 16px 32px;
    font-size: 20px;
}

.menu-search-form-desc,
#search-icon{
    color: #006400;
}

.menu-utility-item {
   display: block;
    padding: 16px 32px;
    font-size: 20px;
}

.menu-logo-container > a {
    font-size: 22px;
    font-weight: 700;
}

@media only screen and (min-width: 992px) {
    .menu-toggle {
        display: none;
    }

    .menu-nav-item {
        display: block;
        width: auto;
        border-bottom: 0;
    }
    .header,
    .main-content {
        align-self: center;
        width: 960px;
    }


    .menu-logo-container {
             flex: 1;
         }
}

.jumbotron {
    background-image: url("../img/food.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
    text-align: center;
}



