* {
    margin: 0;
    padding: 0;
    color: black;
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-size: 18px;
}

.menu-nav-item > a {
    color: black;
    font-size: 16px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #006400;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

.footer {
    padding:8px;
    text-align: center;
}


#logo-icon,
#toggle-icon,
#toggle-user-icon {
    color: #006400;
}

.menu-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #006400;
}

.menu-nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 500;
}

.menu-nav-item {
    width: 100%;
    padding: 16px;
    border-bottom: 2px #006400 solid;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    display: none;
}

.menu-utility-item {
    width: 100%;
    padding: 16px;
    border-bottom: 2px #006400 solid;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    display: none;
}

.menu-utility-item > a {
    color: black;
}

.expanded > .menu-utility-item {
    display: block;
}

.expanded > .menu-nav-item {
    display: block;
}

.menu-logo-container,
.menu-toggle-container,
.user-toggle-container {
    display: block;
    padding: 16px 10px;
    font-size: 20px;
}

.menu-search-form{
    display: block;
    padding: 16px 10px;
    font-size: 20px;
}

.menu-search-form-desc,
#search-icon{
    color: #006400;
}

.menu-logo-container > a {
    font-size: 22px;
    font-weight: 700;
}

@media only screen and (min-width: 992px) {
    .menu-toggle-container,
    .user-toggle-container {
        display: none;
    }

    .menu-nav-item,
    .menu-utility-item {
        display: block;
        width: auto;
        border-bottom: 0;
    }
    .header,
    .main-content {
        align-self: center;
        width: 960px;
    }

    .menu-logo-container {
             flex: 1;
         }
    .menu-utility-item > a {
        color: #006400;
    }
}

.jumbotron {
    background-image: url("../img/food.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
    text-align: center;
}


.list-heading {
    text-align: center;
    margin: 18px;
}

.recipe-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.recipe-list-item {
    padding: 16px 18px;
}

.recipe-list-item-photo {
    display: block;
    max-width: 280px;
}

.recipe-list-item-name {
    text-align: center;
    padding: 5px;
}

.recipe-list-item-footer {
    display: flex;
    justify-content: space-around;
    padding-top: 3px;
}

.recipe-title {
    font-size: 32px;
    text-align: left;
    padding-top: 16px;
}

.recipe {
    max-width: 760px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.recipe-main-photo {
    padding-top: 20px;
    object-fit: contain;
    max-width: 760px;
}

.recipe-base-statistics-container {
    padding-top: 10px;
    display: flex;
    font-weight: 700;
    padding-bottom: 10px;
}

.recipe-rating-votes-number {
    color: dimgray;
}

.recipe-container-comments-number,
.recipe-rating-container
{
    padding-right: 25px;
}

.recipe-rating-button {
    background-color: white;
    border: 0;
    padding: 1px;
    font-size: 18px;
    opacity: 0.8;
}

.recipe-rating-button:hover {
    opacity: 1;
}

.recipe-base-description-container {
    text-align: justify;
    text-justify: inter-word;
    font-weight: 500;
}

.recipe-base-details-item {
    margin: 4px 0;
    font-weight: 500;
}

.recipe-directions-item,
.recipe-ingredients-item {
    margin: 8px 0;
    font-weight: 500;
}

.recipe-base-details-container,
.recipe-ingredients-list-container,
.recipe-directions-list,
.recipe-rating {
    padding: 10px 30px;
    font-weight: 500;
    border: 1px #655858 solid;
    border-radius: 8px;
    background-color: rgba(138, 86, 86, 0.05);
}

.recipe-photo,.recipe-base-details-container,
.recipe-ingredients-list-container,
.recipe-directions-list {
    margin-bottom: 16px;
}

.recipe-base-details-item-bold {
    font-weight: 700;
}

.recipe-base-statistics-container i {
    color: #006400;
}

.recipe-ingredients-list-container li {
    list-style-type: circle;
}

.recipe-directions-list li {
    list-style-type: circle;
}

li::marker {
    list-style-type: circle;
    color: #006400;
}

.error-container {
    margin: 34px auto;
}

.error-container > * {
    text-align: center;
    display: block;
}

.error-container-text {
    font-weight: 500;
}

.error-container-header,
.error-icon {
    font-size: 32px;
    margin-bottom: 15px;
}

.list-admin-features {
    margin: auto;
    list-style: none;
}

.list-admin-features-item {
    border: 1px #006400 solid;
    background-color: #eaeaec;
    padding: 16px;
    text-align: center;
}
.list-admin-features-item > a {
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.notification-bar {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
    background-color: #eaeaec;
}

.kb-form{
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

.kb-form > * {
    margin-top: 8px;
}

.kb-form > input,
.kb-form > button,
.kb-form > select,
.kb-form > textarea {
    font-size: 18px;
    color: black;
    padding: 8px;
}

.kb-form > label {
    font-size: 18px;
    font-weight: 500;
}

.kb-form > button {
    margin-top: 10px;
    background-color: #eaeaec
}

.kb-form-message {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.registration-link {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}

/*
.add-form > input[type=file] {
    color: white;
}*/










